html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.logo {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #000;
}

.nav {
	color: #000;
	display: flex;
	gap: 40px;
}

.phone {
	color: #000;
	text-decoration: none;
}
