table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: sans-serif;
}

caption {
	font-weight: 700;
}

td,
th,
caption {
	border: 1px solid #000;
	text-align: center;
}

.red {
	color: red;
}

caption {
	border-bottom: none;
}
